<a href="https://colab.research.google.com/github/RubeRad/tcscs/blob/master/notebooks/20_BubbleQuick.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSV Handling with Pandas

We have already started to learn about how `matplotlib` can be used to create excellent charts and graphs, but that was using datasets that were small enough to be typed directly into the notebook.

`pandas` is an elegant and efficient python module for slurping in arbitrarily large data files, and handling them by column *name* rather than by index *number* (i.e. pandas enables ***Literate Programming***)

In [2]:
# As usual, the first step is to import the required python libraries
import numpy             as np    # all kinds of numerical and matrix capabilities in here
import matplotlib.pyplot as plt   # this is for making charts and graphs
import pandas            as pd    # for convenient handling of csv files

# DataFrames
The top-level datatype in pandas is a `DataFrame`. Think of it as one spreadsheet tab from Google Sheets or Microsoft Excel.

When you ask `pandas` to read a data file, it returns a `DataFrame` object, so it is conventional to use a variable that has `df` in the name.

As usual in a python notebook, if we just mention a variable at the end of a cell, the notebook tries to show it to us. A `DataFrame` can be quite big, so usually it shows just a summary.

In [4]:
# csv = comma-separated-value is the most common/simple type of data file
# pandas can even reach out to URLs on the internet to slurp in data
df = pd.read_csv('https://raw.githubusercontent.com/RubeRad/tcscs/master/notebooks/bq25.csv')
df

,ALGORITHM,NUMBER OF ELEMENTS,NUMBER OF COMPARISONS,NUMBER OF SWAPS,Unnamed: 4
0,BUBBLE,7,21,9,NaN
1,BUBBLE,74,2701,1272,NaN
2,BUBBLE,76,2850,1024,NaN
3,BUBBLE,94,4371,2093,NaN
4,BUBBLE,14,91,56,NaN
...,...,...,...,...,...
2395,QUICK,85,504,504,NaN
2396,QUICK,59,446,446,NaN
2397,QUICK,74,374,374,NaN
2398,QUICK,52,319,319,NaN
2399,QUICK,70,398,398,NaN

## DataFrames as Objects
I said above a `DataFrame` is an *object*. What it means to be an *object* in programming is to not just be a singular piece of data, but to have:
* *attributes* or *elements* or *members* -- an object is an organized collection of not just one, but many data elements
* *methods* or *functions* -- an object knows how to do certain things that are relevant to its nature

A simpler way to think of it, an object is a bag of nouns and verbs.

And like Plato's idealized concept of chair, the object *per se* is *abstract*. Every *instance* (concrete) of an object type has specific values of its attributes, and behaviors of its methods.

For instance, if there were a software object called `Dog`, some of its attributes might be `color`,  or `breed`, and some of its functions might be `speak()`, or `is_hungry()`. A variable `fluffy` that is a Dog object might have attribute values of `color='white'`, `breed='toy pomeranian'`, and its `speak()` method might return `'yip'`. A  variable `spike` that is also a Dog object might have attribute values of `color='black'`, `breed='doberman pinscher'`, and its `speak()` method might return `'GRRR!'`.   (For all dogs, the `is_hungry()` method probably always returns `True`.)

In python, you access/reference an attribute of a variable with a certain object type, by stating the name of the variable, then a `.`, then the name of the attribute. Here are a couple of the most interesting *attributes* of every `DataFrame` object:

In [ ]:
df.shape    # (rows, columns)

In [ ]:
df.columns  # list of names of columns

Methods are not *accessed* or *referenced* as data that merely *is* something, but *invoked*, since they are functions that *do* something. Methods are invoked similarly to referencing attributes, but always with (). Methods can also accept input parameters inside the (), just like the "`bare functions`" we have already seen how to make in python with `def`.

Here are a few of methods of the DataFrame object:

In [ ]:
df.describe()    # a statistical description of the contents

In [ ]:
df.info()        # a more computer-science kind of description centered on data types and storage

Compare these three ways to print a selection of the data:

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df

As you can see, `head()` and `tail()` default to showing the first/last 5 rows (you can put a different number into the () -- try it!); and just mentioning the `DataFrame` variable does a `head()` and a `tail()` -- all nicely formatted with bold and grey stripes for convenient reading in a Jupyter notebook.

# DataFrame columns
As we saw above, pandas is aware of the columns of the dataset, by their *names* (the string labels in the top row of the .csv file). You can refer to any particular column using square brackets, like this:

In [ ]:
df['ALGORITHM']  # try all the available column names

## Column shorthand
Pandas has syntax magic that supports a shorthand notation like this: easier to type and read! More Literate!

In [ ]:
df.ALGORITHM  # try all the available column names

The catch on that shorthand is, it doesn't work if the column names have spaces. But, column headers can be changed. Here's how:

In [ ]:
coldict = {'ALGORITHM'             : 'ALG',
           'NUMBER OF ELEMENTS'    : 'N',
           'NUMBER OF COMPARISONS' : 'COMPS',
           'NUMBER OF SWAPS'       : 'SWAPS' }
df.rename(columns=coldict, inplace=True)
df

A `DataFrame` column is also an object (technically the name of the object is `Series`, but since you find the names of the `Series` with the `DataFrame` attribute `columns`, we'll just call them columns). As an object, a column also has some useful methods. `describe()`, invoked on a column, behaves analogously to being invoked on a whole `DataFrame`:

In [ ]:
# Now try it again with all the new compact column names
df.ALG

In [ ]:
df.ALG.describe()  # try all the column names

Another very useful method available for column objects is `value_counts()` -- what is that explaining about the data?

In [ ]:
df.ALG.value_counts() # try all the column names. When is value_counts() more/less useful?

## Adding new columns with math
One of the elementary uses for a spreadsheet is to populating a new column using cell formulas to combine columns that already exist. Analogously, pandas makes it very easy to create new columns from previous.

Derived columns will appear in the list of columns like the ones read from the raw data, and have all the same methods available.

In [ ]:
# OPS is the column we really care most about!
df['OPS'] = df.COMPS + df.SWAPS # NOTE: column 'ops' doesn't exist yet so we can't use the shortcut

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
# Now that 'ops' is a column name (without spaces), shortcut use is available!!
df.OPS.describe()

In [ ]:
df.OPS.value_counts()

## Column slicing

If your data has way more columns than you need, you can grab a *slice* of just the columns you care about. A *slice* is still a DataFrame, but it's more like a lens that focuses on just a portion of the data in the original DataFrame. Column slicing is analagous to hiding some columns in your spreadsheet that you don't want to look at.

In [ ]:
# A slice is like a lens that focuses on just part of a DataFrame
df_n_ops = df[ ['N','OPS'] ]
df_n_ops

# Matplotlib and Pandas: a match made in heaven!

The whole point is that matplotlib can take columns from pandas, and use them for plotting

In [ ]:
fig = plt.figure()
ax  = fig.add_subplot()
ax.plot(df.N, df.OPS, 'ko')

# it sure would be nice if we could plot the BUBBLE and the QUICK as separate series/colors!!

# DataFrame rows and slicing

Perhaps the most powerful and flexible aspect of pandas is that we can also slice subsets of the rows. This is analagous to applying a filter to spreadsheet rows, except in a spreadsheet you can only have one filter active at a time. With pandas, you should expect to be slicing DataFrames all the time; maintaining one gold copy of the whole, original data, and looking at it this way and that.

Recall that `==` is asking a *question*. Before executing this next cell, consider, what would expect to be the answer to the question?

In [ ]:
df.ALG == 'BUBBLE' # == is always a question. 
# What is it asking?
# What does the answer mean?

What is the size of that thing which is the answer to the question? What does it mean?

We can catch the answer to the question in a variable. And then we can give that variable to the `DataFrame` object.

Pandas is clever enough to understand that, when we use square brackets to give it a single string, we want that column. But if we give it a list of booleans that is the same length as the number of rows of data, it will line up the Trues/Falses with the rows, and give us back just the rows that are True.

In [ ]:
# We can catch the answer to the question in a variable
bubblerows = (df.ALG=='BUBBLE')

In [ ]:
df[bubblerows]

When pandas gives us back the selected rows (the requested 'slice' of the data), it gives us back another `DataFrame` object, and we can hold that sliced `DataFrame` in another variable.

In [ ]:
df_bubble = df[bubblerows]

In [ ]:
# Use this cell to examine the sliced DataFrame df_bubble
# in all the ways we learned about up top with the full DataFrame df

This slicing operation can also be done in a single python statement, like below. This is very common pattern, examine it closely and expect to do it a lot.

In [ ]:
# notice this:   vvvvvvvvvvvvvvvvvv
df_bubble = df[  df.ALG == 'BUBBLE'  ]
# is the same as what we saved off into variable "bubblerows"
# This time, we just wrap that with df[  ]
# We get to skip a step, and one less variable hanging around
# (and one less variable we need to think of a Literate Programming name for)

In [ ]:
# In this cell, create a DataFrame slice df_quick to go with df_bubble

Good news is, slices are fully functional DataFrames as well, and can be used for plotting:

In [ ]:
fig = plt.figure()
ax  = fig.add_subplot()
ax.plot(df_bubble.N, df_bubble.OPS, 'rx')
# add to this plot the N,OPS for your new df_quick sliced DataFrame

# Slices are not for changing

Recall that, for Bubble Sort, the expected number of total operations is `1.5*COMPS` (why?). So let's try adding an `EXP` column to `df_bubble` so we can graph that too:

In [ ]:
df_bubble['EXP'] = df_bubble.COMPS * 1.5

Oopx! What happened there?

A slice is not (normally) a separate copy of the data. To avoid wasting memory, when pandas gives a slice `DataFrame`, it is like a lens or a prism, that sees just the right part of the original data.

When we try to create a new column in the *slice*, pandas says "Wait a minute, how am I supposed to deal with this back in the original full `DataFrame`? If there's a new column EXP for everybody, what am I supposed to do for EXP on all the rows that are not in this slice? The hint on the right way to do this is in the error message:

> `Try using .loc[row_indexer,col_indexer] = value instead`

What we need to do is to get this `EXP` column into the original DataFrame, before we slice it Bubble vs Quick. In general, all the original and computed columns of the DataFrame should be finalized before any row-slicing begins

# Creating new columns selectively

We're going to build up an `EXP`ected column back in the original DataFrame, a step at a time:

1. Create a new column simply with a nonsense value you can recognize as "something went wrong"
2. Select the `BUBBLE` rows and set `EXP` in those rows with the appropriate formula
3. Select the `QUICK` rows and set `EXP` in those rows with the appropriate formula

In [ ]:
df['EXP'] = -1
df

Next we need to choose which rows we want to set

In [ ]:
# we still have this sticking around from above:
# bubblerows = (df.ALG == 'BUBBLE')
bubblerows

Then the pandas `loc[]` allows us to do things on only a certain 'location' of the data:

In [ ]:
#        which rows   which col    what to set it to
#        vvvvvvvvvv    vvvvv       vvvvvvvvvvvvvv
df.loc[  bubblerows,   'EXP'   ] = df.COMPS * 1.5

In [ ]:
df

In [ ]:
df.EXP.value_counts()

This can also be done in one step, by putting a row-selection `==` right inside the `.loc[ ]`

In [ ]:
# What is the EXPected number of QuickSort operations for N cards?
# Hint: numpy offers a log-base-2 function called np.log2()

df.loc[ ?whichrows? , ?whichcol? ] = ?what?

In [ ]:
df

In [ ]:
# If this shows no -1/nonsense values left, we did it!
df.EXP.value_counts()

In [ ]:
fig = plt.figure()
ax  = fig.add_subplot()
ax.plot(df.N, df.OPS, 'bo')
ax.plot(df.N, df.EXP, 'rx')

## Slice the finalized data

After finishing all changes to the original DataFrame, then we can recreate any slices we need.

In general, the order for any data analysis task should be:

1. **Load** the raw DataFrame
1. **Clean** the DataFrame
   1. Find/fix/remove any erroneous data
   1. Consider slicing columns to just what you'll need
1. **Add columns**, either
   1. Use simple formulas that apply to every row
   1. Use `.iloc[]` to selectively build up columns
1. **Analyze**
   1. Create slices of the finalized data as needed
   1. Make graphs from the whole data or the slices
   
When you discover in **Stage 4: Analyze** that you need to change the data, go back and add code to the Cleaning/Adding sections of the notebook, and rerun all the cells, so all your slices will be consistent with the underlying data, and each other

In [ ]:
# now that the EXP column has been created, we are done messing with df
# recreate the df_bubble and df_quick slices
df_bubble = 
df_quick  =

# Grouping

The pandas `groupby()` function gives the ability to create a summary DataFrame, where each summary row represents a group of rows in the original DataFrame. 

The trick is, once you tell it one column to `groupby()`, you have to tell it what kind of summary calculation you want in the other columns.

In [ ]:
# This alone doesn't do much useful
# it returns a 'DataFrameGroupBy object', waiting for instructions on
# how to handle the other columns
df_bubble.groupby('N')

In [ ]:
bubavg = df_bubble.groupby('N').mean()
bubavg

## Avoiding the `numeric_only` warning

That's an annoying warning message, which comes from the fact that the `mean()` grouper got mad that you asked it to average the 'ALG' column (what's the average of the words 'BUBBLE' and 'QUICK'?)

Here are two ways to avoid the annoyance of the warning:

In [ ]:
# This column-slice doesn't have the non-numeric ALG column
bub_n_ops = df_bubble[ ['N','OPS'] ]
bubavg = bub_n_ops.groupby('N').mean()
bubavg

In [ ]:
# the numeric_only=True option gives pandas explicit permission to omit the ALG column
bubavg = df_bubble.groupby('N').mean(numeric_only=True)
bubavg

## Dealing with the `groupby()` index

Next problem, whatever column you used to `groupby()`, is no longer a **named** column in the summary DataFrame. You can tell by that **N** up above being printed lower than the rest of the columns. N is the `index`

In [ ]:
bubavg.N

Way 1 of dealing with the problem is by using `.index` instead of the column name:

In [ ]:
fig = plt.figure()
ax  = fig.add_subplot()
ax.plot(df_bubble.N, df_bubble.OPS, 'bo', alpha=0.2)
ax.plot(bubavg.index,      # <-------- .index instead of .N
        bubavg.OPS, 'rx')

Way two is by using the `reset_index()` function, which turns `N` back into a named column:

In [ ]:
#                                                      vvvvvvvvvvvvvv
bubavg = df_bubble.groupby('N').mean(numeric_only=True).reset_index()

In [ ]:
fig = plt.figure()
ax  = fig.add_subplot()
ax.plot(df_bubble.N, df_bubble.OPS, 'bo', alpha=0.2)   # alpha=1 is opaque, alpha=0 is invisible
ax.plot(bubavg.N,       bubavg.OPS, 'rx')

## Other grouping functions

Pandas offers a wide variety of useful statistical ways for `groupby()` to summarize rows:

* `mean()`
* `sum()`
* `prod()`
* `std()` (standard deviation)
* `quantile(0.9)` (this would be 90th percentile, for instance)
* `median()` (aka `quantile(0.5)`)
* `min()` (aka `quantile(0.0)`)
* `max()` (aka `quantile(1.0)`)

In [ ]:
# experiment with this---------> vvvv
summary = df_bubble.groupby('N').mean(numeric_only=True).reset_index()

In [ ]:
summary

In [ ]:
fig = plt.figure()
ax  = fig.add_subplot()
ax.plot(df_bubble.N, df_bubble.OPS, 'bo', alpha=0.2)
ax.plot(summary.N,     summary.OPS, 'rx')

# Homework

## I: Use matplotlib and pandas to make an excellent graph

You will need to refer back to the Matplotlib Intro notebook for details about styling/formatting

Make a graph that demonstrates the superiority of QuickSort over BubbleSort, including `ax.plot()` commands for all the following:

1. Scatter for bubblesort data
2. Scatter for quicksort data
3. Line plot for the expected number of bubblesort operations
4. Line plot for the expected number of quicksort operations
  1. A line plot of the `EXP` column will NOT work
  1. Refer back to the Matplotlib notebook for an example showing how to use `np.arange()` to create a tight series of X values, and then math out the Y series as a formula
5. 75th percentile OPS for bubblesort (using `groupby().quantile(0.75)`)
6. 75th percentile OPS for quicksort
7. 25th percentile OPS for bubblesort
8. 25th percentile OPS for quicksort

Style this graph as well as possible, making choices for colors, markers, sizes, linestyles, legend, axis labels, etc.

In [ ]:
# add any extra slicing/groupby() in this cell

In [ ]:
# use this cell to render the graph

## II: Slicing practice

NOTES: 
* For each of these, you should think of a concise but not confusing variable name for the slice
* None of these plots need to be pretty, just make sure they are scatter or line as appropriate

1. Make a slice of all the quicksort rows with N between 15 and 25
   1. Make a plot of x=N,y=OPS from the slice.
1. Make a slice of `df` (the original full `DataFrame`) of rows with OPS between 100 and 200. 
   1. Make a plot of N,OPS from the slice.
1. Make a new column in the original `df` called `SWAPS_PER_COMP` (df.SWAPS divided by df.COMPS)
   1. Or if you want, more concisely named `SPC`? 
   1. Recreate the df_bubble/df_quick slices (unfortunately, new columns added to the original `DataFrame` do not magically show up in `df_bubble` and `df_quick`). 
   1. Make a plot x=df.N and two data series, SWAPS_PER_COMP for bubblesort vs quicksort.
1. Make a plot of df_bubble actual vs expected, with different colors for points above/below the line:
   1. Make a slice from `df_bubble` for which OPS is less than EXP
   1. Make another slice for which OPS is more than EXP. 
   1. Make a plot with three series: expected curve from `df_bubble`, and the under/over slices

In [ ]:
# HWII.1 could start by slicing a slice, like this:
dfq_ge_15 =  df_quick[  df_quick.N >= 15 ]
dfq_15_25 = dfq_ge_15[ dfq_ge_15.N <= 25 ]

# But here's how to slice with multiple conditions in one step
# The () are very important! If you wanted OR instead of AND it would be | instead of &
df_q_15_25 = df_quick[  (df_quick.N >= 15) & (df_quick.N <= 25)  ]